# Trabajo práctico integrador de CDD 2023

### Curso: 5K3
### Grupo: 04
### Integrantes:
- 78355	Azulay, David
- 87930	Brocanelli, Valentina
- 65155	Galizio, Matias
- 83723	Perlo, Matias
- 86852	Zuin, Lorenzo

# Objetivo del Notebook

La idea principal es la de utilizarlo para sintetizar las etapas del proyecto de ciencia de datos, y ser un lugar unificado para facilitar hacer las tareas de cada etapa y repetir facilmente la ejecución del código y los resultados.

Para trabajar, dargar los datos de [Kraggle](https://www.kaggle.com/datasets/mohamedbakhet/amazon-books-reviews?select=books_data.csv) con exactamente el mismo nombre y dejarlos en el mismo directorio que el Notebook.

# Preguntar del backlog para resolver

- Extender tabla de libros con las columnas ISBN y precio.
- Hacer un análisis para decidir si para el trabajo nos es suficiente con los registros que cuentan con precio.
- Unificar tablas.
- Obtener la estadísticas de puntajes de reseñas de cada libro.
- Desarrollar un modelo predictivo para predecir el puntaje de una reseña de acuerdo a, inicialmente, su autor, género y precio.
- Desarrollar un modelo predictivo para predecir la utilidad de una reseña de acuerdo a, inicialmente, la longitud de su descripción.
- Realizar conclusiones de los modelos realizados.

# 1. Lectura de los datos

In [1]:
import pandas as pd
import numpy as np
from fuzzy_match import algorithims

In [2]:
#books_df = pd.read_csv('books_data.csv', nrows=1)
columns_books = ['Title', 'description', 'authors', 'image', 'previewLink', 'publisher', 'publishedDate', 'infoLink',
               'categories', 'ratingsCount']

columns_reviews = ['Id', 'Title', 'Price', 'review/helpfulness', 'review/score', 'review/text']

df_books = pd.read_csv('data/books_data.csv', usecols=columns_books)
df_books.head(10)

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN
5,The Church of Christ: A Biblical Ecclesiology ...,In The Church of Christ: A Biblical Ecclesiolo...,['Everett Ferguson'],http://books.google.com/books/content?id=kVqRa...,http://books.google.nl/books?id=kVqRaiPlx88C&p...,Wm. B. Eerdmans Publishing,1996,http://books.google.nl/books?id=kVqRaiPlx88C&d...,['Religion'],5.0
6,The Overbury affair (Avon),NaN,['Miriam Allen De Ford'],NaN,http://books.google.nl/books?id=mHLTngEACAAJ&d...,NaN,1960,http://books.google.nl/books?id=mHLTngEACAAJ&d...,NaN,NaN
7,A Walk in the Woods: a Play in Two Acts,NaN,['Lee Blessing'],NaN,http://books.google.nl/books?id=6HDOwAEACAAJ&d...,NaN,1988,http://books.google.nl/books?id=6HDOwAEACAAJ&d...,NaN,3.0
8,Saint Hyacinth of Poland,The story for children 10 and up of St. Hyacin...,['Mary Fabyan Windeatt'],http://books.google.com/books/content?id=lmLqA...,http://books.google.nl/books?id=lmLqAAAACAAJ&d...,Tan Books & Pub,2009-01-01,http://books.google.nl/books?id=lmLqAAAACAAJ&d...,['Biography & Autobiography'],NaN
9,Rising Sons and Daughters: Life Among Japan's ...,Wardell recalls his experience as a foreign st...,['Steven Wardell'],NaN,http://books.google.nl/books?id=rbLZugEACAAJ&d...,Plympton PressIntl,1995,http://books.google.nl/books?id=rbLZugEACAAJ&d...,['Social Science'],NaN

In [3]:
#reviews_df = pd.read_csv('Books_rating.csv', nrows=1)
df_reviews = pd.read_csv('data/Books_rating.csv', usecols=columns_reviews)
df_reviews.head(10)

,Id,Title,Price,review/helpfulness,review/score,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,7/7,4.0,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,10/10,5.0,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,10/11,5.0,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,7/7,4.0,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,3/3,4.0,Philip Nel - Dr. Seuss: American IconThis is b...
5,0826414346,Dr. Seuss: American Icon,NaN,2/2,4.0,"""Dr. Seuss: American Icon"" by Philip Nel is a ..."
6,0826414346,Dr. Seuss: American Icon,NaN,3/4,5.0,Theodor Seuss Giesel was best known as 'Dr. Se...
7,0826414346,Dr. Seuss: American Icon,NaN,0/0,5.0,When I recieved this book as a gift for Christ...
8,0826414346,Dr. Seuss: American Icon,NaN,0/0,5.0,Trams (or any public transport) are not usuall...
9,0826414346,Dr. Seuss: American Icon,NaN,3/5,4.0,"As far as I am aware, this is the first book-l..."

# 2. Preprocesamiento de los datos

### Primera etapa de preprocesado

Aca se trabajó con los datasets originales y al finalizar se obtuvieron nuevos datasets que fueron almacenados

#### Visualizar resumen de datos

In [4]:
print("Datos de books_data.csv")
print("Datos por columna:\n", df_books.count(), sep="", end="\n\n")
print("Datos faltantes por columna:\n", df_books.isna().sum(), sep="", end="\n\n")
print("% datos faltantes por columna:\n", df_books.isna().sum() * 100 / len(df_books), sep="", end="\n\n")

Datos de books_data.csv
Datos por columna:
Title            212403
description      143962
authors          180991
image            160329
previewLink      188568
publisher        136518
publishedDate    187099
infoLink         188568
categories       171205
ratingsCount      49752
dtype: int64

Datos faltantes por columna:
Title                 1
description       68442
authors           31413
image             52075
previewLink       23836
publisher         75886
publishedDate     25305
infoLink          23836
categories        41199
ratingsCount     162652
dtype: int64

% datos faltantes por columna:
Title             0.000471
description      32.222557
authors          14.789270
image            24.516958
previewLink      11.222011
publisher        35.727199
publishedDate    11.913617
infoLink         11.222011
categories       19.396527
ratingsCount     76.576712
dtype: float64

In [5]:

print("Datos de Books_rating.csv")
print("Datos por columna:\n", df_reviews.count(), sep="", end="\n\n")
print("Datos faltantes por columna:\n", df_reviews.isna().sum(), sep="", end="\n\n")
print("% datos faltantes por columna:\n", df_reviews.isna().sum() * 100 / len(df_reviews), sep="", end="\n\n")

Datos de Books_rating.csv
Datos por columna:
Id                    3000000
Title                 2999792
Price                  481171
review/helpfulness    3000000
review/score          3000000
review/text           2999992
dtype: int64

Datos faltantes por columna:
Id                          0
Title                     208
Price                 2518829
review/helpfulness          0
review/score                0
review/text                 8
dtype: int64

% datos faltantes por columna:
Id                     0.000000
Title                  0.006933
Price                 83.960967
review/helpfulness     0.000000
review/score           0.000000
review/text            0.000267
dtype: float64

#### Completar dato faltante en df de libros

In [6]:
# Libro sin título
titulo_faltante = df_books[df_books["Title"].isna()]
print(titulo_faltante)
# Indice en df_books: 1066

# Buscando en los links encontramos su nombre: "Nan Yar - Who Am I?"
df_books.loc[1066, "Title"] = "Nan Yar - Who Am I?"
print(df_books.isna().sum())

     Title description              authors
1066   NaN         NaN  ['Maharshi Ramana']  \

                                                  image
1066  http://books.google.com/books/content?id=uq0uj...  \

                                            previewLink publisher
1066  http://books.google.nl/books?id=uq0ujwEACAAJ&d...       NaN  \

     publishedDate                                           infoLink
1066    2015-12-15  http://books.google.nl/books?id=uq0ujwEACAAJ&d...  \

     categories  ratingsCount
1066        NaN           1.0
Title                 0
description       68442
authors           31413
image             52075
previewLink       23836
publisher         75886
publishedDate     25305
infoLink          23836
categories        41199
ratingsCount     162652
dtype: int64

#### Visualizar cantidad de libros no duplicados

In [7]:
# Series del datasets de libros sin titulos duplicados
df_books_unique = df_books["Title"].drop_duplicates(ignore_index=True)

# Series del datasets de reviews que recolecta los titulos sin duplicar provenientes del df de reviews
df_reviews_unique_book_title = df_reviews[["Id","Title"]].drop_duplicates(ignore_index=True) #Acá podríamos aprovechar y agregar el precio también. Así ya lo podemos unificar con la otra tabla

# Series del datasets de reviews para saber cuantos ids diferentes hay registrados
df_reviews_unique_book_id = df_reviews["Id"].drop_duplicates(ignore_index=True)

print("\nCantidad de titulos sin duplicar en el df de libros: {}".format(df_books_unique.count()), end="\n")
# Cantidad de titulos sin duplicar en el df de libros: 212403

print("\nCantidad de IDs y Titulos de libros sin duplicar encontrados en el df de reviews:", df_reviews_unique_book_title.count(), sep="\n", end="\n")
# Cantidad de titulos sin duplicar en el df de reviews: 221989

print("\nCantidad de IDs y Titulos faltantes en la lista sin duplicar del df de reviews:", df_reviews_unique_book_title.isna().sum(), sep="\n", end="\n")
# Cantidad de titulos sin duplicar en el df de reviews: 221989

Cantidad de titulos sin duplicar en el df de libros: 212404

Cantidad de IDs y Titulos de libros sin duplicar encontrados en el df de reviews:
Id       221998
Title    221989
dtype: int64

Cantidad de IDs y Titulos faltantes en la lista sin duplicar del df de reviews:
Id       0
Title    9
dtype: int64

In [8]:
# vistazo a la lista libros sin duplicar del df de libros
print("\n\nHead books\n")
print(df_books_unique.head(10))

Head books

0                       Its Only Art If Its Well Hung!
1                             Dr. Seuss: American Icon
2                Wonderful Worship in Smaller Churches
3                        Whispers of the Wicked Saints
4    Nation Dance: Religion, Identity and Cultural ...
5    The Church of Christ: A Biblical Ecclesiology ...
6                           The Overbury affair (Avon)
7              A Walk in the Woods: a Play in Two Acts
8                             Saint Hyacinth of Poland
9    Rising Sons and Daughters: Life Among Japan's ...
Name: Title, dtype: object

In [9]:
# vistazo a la lista de ids y titulos sin duplicar del df de reviews
print("\n\nHead reviews\n")
print(df_reviews_unique_book_title.head(10))

Head reviews

           Id                                              Title
0  1882931173                     Its Only Art If Its Well Hung!
1  0826414346                           Dr. Seuss: American Icon
2  0829814000              Wonderful Worship in Smaller Churches
3  0595344550                      Whispers of the Wicked Saints
4  0253338352  Nation Dance: Religion, Identity and Cultural ...
5  0802841899  The Church of Christ: A Biblical Ecclesiology ...
6  B0007FIF28                         The Overbury affair (Avon)
7  B000JINSBG            A Walk in the Woods: a Play in Two Acts
8  0895554224                           Saint Hyacinth of Poland
9  0963923080  Rising Sons and Daughters: Life Among Japan's ...

In [10]:
# vistazo solamente a los ids sin duplicar
# Vemos que existen dos tipos de IDs:
# Numéricos:    corresponden al ISBN del libro asociado.
# No numéricos: corresponden a números ASIN (Amazon Stardard Identification Number), usado para identificar productos en Amazon.
print("\n\nUnique Id Books\n")
print(df_reviews_unique_book_id.head(10))

Unique Id Books

0    1882931173
1    0826414346
2    0829814000
3    0595344550
4    0253338352
5    0802841899
6    B0007FIF28
7    B000JINSBG
8    0895554224
9    0963923080
Name: Id, dtype: object

#### Filtrado de libros con ISBNs

Para este trabajo, dejaremos de lado los libros identificados con ASIN y nos enfocaremos unicamente en aquellos con ISBN

In [11]:
# Filtramos los registros obtenidos en el df de reviews por ISBN (ids numéricos)
df_reviews_titulos_numeric_ids = df_reviews_unique_book_title[pd.to_numeric(df_reviews_unique_book_title['Id'], errors='coerce').notnull()]

In [12]:
# revisamos el resultado
print("\nCantidad de titulos con ISBN asociado:\n", df_reviews_titulos_numeric_ids[["Id", "Title"]].count(), sep="\n", end="\n\n") #130.009 libros
print(df_reviews_titulos_numeric_ids.head(20))

Cantidad de titulos con ISBN asociado:

Id       130009
Title    130004
dtype: int64

            Id                                              Title
0   1882931173                     Its Only Art If Its Well Hung!
1   0826414346                           Dr. Seuss: American Icon
2   0829814000              Wonderful Worship in Smaller Churches
3   0595344550                      Whispers of the Wicked Saints
4   0253338352  Nation Dance: Religion, Identity and Cultural ...
5   0802841899  The Church of Christ: A Biblical Ecclesiology ...
8   0895554224                           Saint Hyacinth of Poland
9   0963923080  Rising Sons and Daughters: Life Among Japan's ...
10  0854968350  Muslim Women's Choices: Religious Belief and S...
11  0918973031                        Dramatica for Screenwriters
12  1858683092   Mensa Number Puzzles (Mensa Word Games for Kids)
13  0792391810  Vector Quantization and Signal Compression (Th...
15  0908968000                                Gold and greenstone
16  0974289108  The Ultimate Guide to Law School Admission: In...
17  0809080699  The Repeal of Reticence: A History of America'...
18  0553763121  Overcoming Hypertension (Dr. Kenneth H. Cooper...
20  0195178548  The Oxford Handbook of Free Will (Oxford Handb...
21  0789480662                  Eyewitness Travel Guide to Europe
23  0517150328                    History of Magic and the Occult
25  3161453549  Homer or Moses?: Early Christian Interpretatio...

In [18]:
#Hay 5 libros que tienen ISBN pero no tienen titulo
df_books_no_title = df_reviews_titulos_numeric_ids[df_reviews_titulos_numeric_ids['Title'].isna() | df_reviews_titulos_numeric_ids['Title'].isnull() ]
print(df_books_no_title)

#                 Id Title
# 25568   0801841119   NaN
# 30848   0595241034   NaN
# 93715   0912411201   NaN
# 167772  0313329486   NaN
# 180005  0595292763   NaN

# carga manual
df_reviews_titulos_numeric_ids.loc[25568, "Title"] = "Eclogues and Georgics of Virgil"
df_reviews_titulos_numeric_ids.loc[30848, "Title"] = "Delicate Relations"
df_reviews_titulos_numeric_ids.loc[93715, "Title"] = "Tinseltowns U.S.A"
df_reviews_titulos_numeric_ids.loc[167772, "Title"] = "Federalism in America: An Encyclopedia, Volume I, A-J"
df_reviews_titulos_numeric_ids.loc[180005, "Title"] = "Stars of the Southern Cross"

# revisar de nuevo
df_books_no_title = df_reviews_titulos_numeric_ids[df_reviews_titulos_numeric_ids['Title'].isna() | df_reviews_titulos_numeric_ids['Title'].isnull() ]
print(df_books_no_title)

Empty DataFrame
Columns: [Id, Title]
Index: []
Empty DataFrame
Columns: [Id, Title]
Index: []

C:\Users\matia\AppData\Local\Temp\ipykernel_14308\3392364241.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_titulos_numeric_ids.loc[25568, "Title"] = "Eclogues and Georgics of Virgil"
C:\Users\matia\AppData\Local\Temp\ipykernel_14308\3392364241.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_titulos_numeric_ids.loc[30848, "Title"] = "Delicate Relations"
C:\Users\matia\AppData\Local\Temp\ipykernel_14308\3392364241.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_titulos_numeric_ids.loc[93715, "Title"] = "Tinseltowns U.S.A"
C:\Users\matia\AppData\Local\Temp\ipykernel_14308\3392364241.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_titulos_numeric_ids.loc[167772, "Title"] = "Federalism in America: An Encyclopedia, Volume I, A-J"
C:\Users\matia\AppData\Local\Temp\ipykernel_14308\3392364241.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_titulos_numeric_ids.loc[180005, "Title"] = "Stars of the Southern Cross"

In [19]:
# filtramos los registros del df de reviews que tengan asociados libros con su ISBN
df_reviews_ids_numericos_only = df_reviews[pd.to_numeric(df_reviews['Id'], errors='coerce').notnull()]

print("Cantidad de reviews de libros con ISBN:")
print(df_reviews_ids_numericos_only.count(), end="\n\n") 
# Cantidad de reviews de libros con ISBN:
# Id         1314561
# Title      1314368

# vemos los datos faltantes de cada fila
print("Cantidad de datos faltantes en estas reviews:")
print(df_reviews_ids_numericos_only.isna().sum()) 
# Cantidad de datos faltantes en estas reviews:
# Id                         0
# Title                    193

Cantidad de reviews de libros con ISBN:
Id                    1314561
Title                 1314368
Price                  410313
review/helpfulness    1314561
review/score          1314561
review/text           1314560
dtype: int64

Cantidad de datos faltantes en estas reviews:
Id                         0
Title                    193
Price                 904248
review/helpfulness         0
review/score               0
review/text                1
dtype: int64

In [20]:
# aca poner la solucion del libro faltante


#Eliminación de libros de la tabla de libros que no están en la tabla de reviews de libros registrados solo con ISBN
titulos = df_reviews_titulos_numeric_ids['Title'].to_numpy()
print("Cantidad de titulos: {}".format(len(titulos)))
df_books_only_isbn = df_books[df_books['Title'].isin(titulos)]
print("Cantidad de libros en tabla de libros:")
print(df_books_only_isbn.count())

df_books_only_isbn

Cantidad de titulos: 130009
Cantidad de libros en tabla de libros:
Title            127334
description       92846
authors          108524
image             99640
previewLink      112955
publisher         87983
publishedDate    112109
infoLink         112955
categories       104906
ratingsCount      27528
dtype: int64

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
212398,Autodesk Inventor 10 Essentials Plus,Autodesk Inventor 2017 Essentials Plus provide...,"['Daniel Banach', 'Travis Jones']",http://books.google.com/books/content?id=zxHRC...,http://books.google.com/books?id=zxHRCwAAQBAJ&...,SDC Publications,2016-03,https://play.google.com/store/books/details?id...,['Computers'],NaN
212399,The Orphan Of Ellis Island (Time Travel Advent...,"During a school trip to Ellis Island, Dominick...",['Elvira Woodruff'],http://books.google.com/books/content?id=J7M-N...,http://books.google.com/books?id=J7M-NwAACAAJ&...,Scholastic Paperbacks,2000-06-01,http://books.google.com/books?id=J7M-NwAACAAJ&...,['Juvenile Fiction'],2.0
212400,Red Boots for Christmas,Everyone in the village of Friedensdorf is hap...,NaN,http://books.google.com/books/content?id=3n8k6...,http://books.google.com/books?id=3n8k6wl4BbYC&...,NaN,1995,http://books.google.com/books?id=3n8k6wl4BbYC&...,['Juvenile Fiction'],NaN
212402,The Autograph Man,Alex-Li Tandem sells autographs. His business ...,['Zadie Smith'],http://books.google.com/books/content?id=JM6YV...,http://books.google.com/books?id=JM6YVPx_clMC&...,Vintage,2003-08-12,https://play.google.com/store/books/details?id...,['Fiction'],19.0
212403,Student's Solutions Manual for Johnson/Mowry's...,Discover the many ways mathematics is relevant...,"['David B. Johnson', 'Thomas A. Mowry']",http://books.google.com/books/content?id=dehfP...,http://books.google.com/books?id=dehfPgAACAAJ&...,Brooks/Cole Publishing Company,1998-01-01,http://books.google.com/books?id=dehfPgAACAAJ&...,NaN,NaN

In [21]:
#Titulos de libros que están en el archivo de reviews pero no en el de libros

array_titulos_libros = df_books_only_isbn['Title'].to_numpy() # libros en el df de libros que tienen correspondencia con el df de reviews y estan registrados con isbn
print("Cantidad de libros en tabla de libros solo con ISBN en tabla de reviews: {}".format(len(array_titulos_libros)))
print("Cantidad de libros con ISBN que tienen una review : {}".format(df_reviews_ids_numericos_only['Title'].count()))
df_reviews_not_in_books = df_reviews_ids_numericos_only[~df_reviews_ids_numericos_only['Title'].isin(array_titulos_libros)]
print("Cantidad de libros que tienen una review registrados con ISBN pero que no están en la tabla de libros")
print(df_reviews_not_in_books.count())
print("Libros que tienen una review pero que no están registrados en la tabla de libros") #Capaz que se pueden eliminar tambien
df_reviews_not_in_books

Cantidad de libros en tabla de libros solo con ISBN en tabla de reviews: 127334
Cantidad de libros con ISBN que tienen una review : 1314368
Cantidad de libros que tienen una review registrados con ISBN pero que no están en la tabla de libros
Id                    193
Title                   0
Price                   7
review/helpfulness    193
review/score          193
review/text           193
dtype: int64
Libros que tienen una review pero que no están registrados en la tabla de libros

,Id,Title,Price,review/helpfulness,review/score,review/text
358889,0801841119,NaN,17.95,25/25,2.0,"I only read Georgics in this book, but I'm not..."
358890,0801841119,NaN,17.95,12/12,1.0,You can't even really call this a translation;...
358891,0801841119,NaN,17.95,5/12,5.0,Slavitt's translation of Virgil's Eclogues and...
432033,0595241034,NaN,14.95,0/0,4.0,I can definitely relate to the story line in D...
432034,0595241034,NaN,14.95,0/0,3.0,This new author has taken on a very sensitive ...
...,...,...,...,...,...,...
1278874,0912411201,NaN,NaN,1/1,5.0,"I've said this about very few people, but if K..."
1278875,0912411201,NaN,NaN,1/1,5.0,"Just when you think your done, reality sets in..."
1278876,0912411201,NaN,NaN,1/1,5.0,Fabulous book...so helpful....The book is book...
2272114,0313329486,NaN,NaN,0/0,5.0,"Joseph R. Marbach, Ellis Katz and Troy E. Smit..."
2433111,0595292763,NaN,23.95,1/1,5.0,If Tom Clancey or James A. Michener had put th...

In [22]:
#Guardado de dataframe de reviews de libros registrados solo con ISBN
df_reviews_ids_numericos_only.to_csv('data/books_reviews_isbn.csv')

In [23]:
df_reviews_ids_numericos_only.to_csv('data/reviews_unique_ids_numericos_only.csv')

### Segunda etapa de preprocesado

Se trabaja sobre los datasets obtenidos en la etapa anterior

In [ ]:
import pandas as pd
import numpy as np
from fuzzy_match import algorithims

In [ ]:
df_reviews_ids_numericos_only = pd.read_csv('data/books_reviews_isbn.csv')

In [ ]:
df_reviews_unique_ids_numericos_only = pd.read_csv('data/reviews_unique_ids_numericos_only.csv')

### Filtrado y conteos

In [ ]:
# obtener un nuevo datasets de libros ordenado
# df_books.sort_values(by='Title').to_csv('books_sorted_by_title.csv')

In [ ]:
# contar y almacenar las reviews de cada libro
# df_books[['Id', 'Title']].value_counts().to_csv('reviews_counts.csv')

## Imputacion de valores faltantes

El valor principal que buscamos completar es el del precio.

## Escalado, Estandarizacion y Normalizacion

Podemos reemplazar el texto de las reviews por un coteo de caracteres para luego eslacarlo y estandarizarlo.

In [ ]:
# la idea de este codigo es reemplazar cada texto por su conteo de caracteres no vacios

# def filtro_fila_summ(row):
#     return len(str(row['review/summary']).replace(' ', ''))

# def filtro_fila_review(row):
#     return len(str(row['review/text']).replace(' ', ''))

# df_reviews['review/summary']    = df_reviews.apply(filtro_fila_summ, axis=1)
# df_reviews['review/text']       = df_reviews.apply(filtro_fila_review, axis=1)
# df_reviews.to_csv('reviews_condensed.csv')

## Codificacion de Variables Categoricas

Pasar todos los valores categóricos a codificación, por ejemplo con One-Hot

## Extraccion de caracteristicas

## Libros